---
layout: 2022/default
---

<div class="w3-container white-space">
  <h2 class="w3-center title" style="padding-bottom: .5em">Envío de propuestas</h2>
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3 class="title" style="text-align: center;">CHARLAS</h3>
      <p class="w3-large" style="text-align: center; margin-left: 1em; margin-right: 1em; ">Las charlas pueden ser cortas (20 min aprox) o largas (40 min aprox, más si hace falta, pero se recomienda no superar la hora), y serán una exposición de un
        tema a elegir entre las temáticas propuestas (o en la
        misma línea).
    </div>
    <div class="w3-col m6">
      <h3 class="title" style="text-align: center;">TALLERES</h3>
      <p class="w3-large" style="text-align: center; margin-left: 1em; margin-right: 1em; ">Los talleres están enfocados a enseñar a las y los ponentes sobre algún tema en particular. Son un poco más largos que las charlas, y requieren interacción
        y supervisión de las personas asistentes. Si tu tema
        incluye hacer ejercicios, esta
        es tu sección.</p>
    </div>
  </div>
  <p class="w3-center w3-large proposal" style="padding-top: .5em">La
    presentación será físicamente desde el <a class="link-normal" href="https://carmendelavictoria.ugr.es/informacion/presentacion" target="_blank">Carmen de la Victoria</a> en Granada (localización en <a class="link-normal"
      href="https://www.openstreetmap.org/way/197139208" target="_blank">OpenStreetMap</a>), pero se retransmitirá online para que las personas puedan seguir disfrutando del evento online desde casa, ya sea desde España u otros países en otros
    husos. Las temáticas propuestas son:<br><br>
  <ul style="text-align: center; list-style-position:inside; font-size: 18px !important;">
    <li class="list-space"><strong>Privacidad y derechos digitales</strong></li>
    <li class="list-space"><strong>Autodefensa digital</strong></li>
    <li class="list-space"><strong>Software libre y comunidad<sup>1</sup></strong></strong></li>
    <li class="list-space"><strong>Anonimato en la Red</strong></li>
    <li class="list-space"><strong>Seguridad informática<sup>2</sup></strong></li>
    <li class="list-space"><strong>Ciberfeminismo</strong></li>
    <li class="list-space"><strong>Fuera Google de las Aulas<sup>3</sup></strong></li>
    <li class="list-space"><strong>Anti-GAFAM</strong></li>
    <li class="list-space"><strong>Redes libres</strong></li>
    <li class="list-space"><strong>...Y más!</strong></li>
  </ul>
  </p>
  <p class="w3-center proposal-quote" style="padding-top: .5em"><strong><sup>1</sup></strong> Aunque nos interesa dar cabida a todo tipo de cuestiones relacionadas con software libre, preferimos que sea sobre temáticas relacinadas con la defensa de
    la privacidad y los derechos generales. Si estás buscando un sitio donde hablar desde un punto de vista no tan específico en esta temática, nos encantará ver tus propuestas en la edición de <a href="https://eslib.re/"
      target="_blank"><strong>es<span style="color:red">Libre</span></strong></a> de este año 👏.
  </p>
  <p class="w3-center proposal-quote" style="padding-top: 1em">
    <strong><sup>2</sup></strong> Aunque seguridad está incluída como temática nos referimos a seguridad de <strong>autodefensa, protección y software libre</strong>, pero prefrimos dejar de lado offensive, pentesting u otras áreas de
    seguridad que, aun siendo defensa, impliquen software privativo, incluso si está crackeado. El objetivo es hablar de seguridad enfocado a autodefensa digital, no como en un evento de hacking al uso. Para eso hay un montón de convenciones
    geniales: <a class="link-normal" href="https://www.h-c0n.com/" target="_blank">H-c0n</a>, <a class="link-normal" href="https://honeycon.eu/" target="_blank">HoneyCON</a>, <a class="link-normal" href="https://www.navajanegra.com/2020/"
      target="_blank">Navaja Negra</a>, <a class="link-normal" href="https://www.morteruelo.net/" target="_blank">MorterueloCON</a>, <a class="link-normal" href="https://securitycongress.euskalhack.org/" target="_blank"> EuskalHack</a>, <a
      class="link-normal" href="https://bitupalicante.com/" target="_blank"> Bitup Alicante</a>...
  </p>
  <p class="w3-center proposal-quote" style="padding-top: 1em"><strong><sup>3</sup></strong> O cualquier temática que se centre en buscar alternativas libres a Google y/o MS para uso en el entorno educativo.
  </p>
</div>

<div class="w3-container w3-light-grey white-space">
  <div class="w3-row-padding base">
    <h3 class="title">Si te animas a mandar alguna propuesta:</h3>
    <p>
      Toda la organización del evento sale adelante por el trabajo de voluntarias de <span class="interferencias">Interferencias</span> y sus colaboradoras, y no tenemos financiación de ningún tipo. No podemos cubrir gastos de estancia o traslado,
      pero a las personas que sean ponentes les ofrecemos:
    </p>
    <ul>
      <li class="list-space">Un paseo nocturno guiado por el <strong>Albaycín</strong> (diferente al de otros años, actualizado), uno de los barrios más antiguos y emplemáticos de la ciudad, conocido en todo el mundo por su herencia morisca, y desde
        cuyas calles se
        puede observar la Alhambra iluminada.</li>
      <li>Al menos una ronda de cerveza Alhambra y su correspondiente <em>tapita</em> por las calles típicas de la ciudad.</li>
    </ul>
    El acceso al <strong>Carmen de la Victoria</strong> puede ser completamente a pie o usando transporte público (o moto), pero no recomendamos el uso de coche particular, pues está a la entrada del barrio del Albaycín, al que es complicado
    acceder y moverse por sus estrechas calles.<br><br>No os precupéis, el acceso al Carmen es muy sencillo y lo explicaremos desde organización, así como los diferentes bares o zonas de interés turístico cercanas. Prepararemos un folleto con la
    información.
  </div>

  <h3 class="w3-center title" style="padding-top: 1em;">Si con todo esto te hemos convencido, puedes mandarnos tu propuesta desde <a class="link-normal" href="/enviar-propuestas">este formulario</a>.<br><br>¡Gracias!</h3>
</div>
