---
layout: 2022/form
---

<div class="w3-container white-space">
  <h2 class="w3-center title" style="padding-bottom: 1em">¡Envía tus pósters ilustrativos!</h2>
  <p class="w3-center w3-large proposal">Si quieres mostrar un proyecto pero no te animas a dar una ponencia esta es tu sección. Prepara un póster y lo expondremos en el Carmen de la Victoria para que la gente se acerque a leerlo. Recomendamos
    incluir QR o información que la gente pueda consultar con tranquilidad. Si quieres, puedes dejar un horario en el que estarás cerca del póster para responder preguntas. Si no quieres estar presente para responder las preguntas, no pasa
    nada.<br><br>Además, también haremos una sección digital para subir enlaces de proyectos libres relacionados con nuestra temática, por lo que lo único necesario es subir el póster a <a class="link-normal"
      href="https://commons.wikimedia.org/wiki/Portada?uselang=es" target="_blank">Wikimedia Commons</a> usando una licencia libre (como <a class="link-normal" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES" target="_blank">Creative
      Commons</a>).</p><br>
  <p class="w3-center w3-large"><strong>Proyectos</strong> que quepan en un póster</p>
  <p class="w3-center w3-large"><strong>Collages</strong> de la temática del evento</p>
  <p class="w3-center w3-large"><strong>Infografías</strong> de un campo que te intere</p>
  <p class="w3-center w3-large" style="padding-bottom: 1em"><strong>Feedback</strong> interactivo en el evento (murales y otros)</p>
  <h3 class="w3-center title">Si no te ves con ganas de hablar, pero tienes algo que contar, esta es tu colaboración ideal.</h2><br>

    <div style="width: 40% !important; margin: auto;">
      <ul class="list-forms-text" style="padding-bottom: 0.5em">
        <li>Solo es obligatorio rellenar los campos marcados como (*)</li>
        <li>Si tienes cualquier duda puedes escribirnos a <a href="mailto:info@interferencias.tech">info@interferencias.tech</a></li>
      </ul>
    </div>

    <div style="width: 50% !important; margin: auto;">
      <form id="create-talks" role="form" action="https://c4p.interferencias.tech/form/posters-es" method="post">
        <div class="form-group" style="margin-top: 1rem; margin-bottom: 1rem;"> <strong><label class="label-forms-text" for="title">Título (*):</label></strong>
          <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
            required="required" class="form-control">
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="abstract">Resumen (*):</label></strong>
          <div id="abstract-counter-tag" class="tag is-danger"><span id="abstract-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;2000&nbsp;</div><textarea name="abstract" cols="40" rows="5" maxlength="2000"
            style="resize:none; overflow-y: scroll;" aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', true)" required="required" class="form-control"></textarea><span id="abstract-help-block"
            class="form-text text-muted list-forms-text">Pequeña introducción y motivación de la propuesta.</span>
        </div>
        <div class="form-group" style="margin-bottom: 1rem;"><strong><label class="label-forms-text" for="url">Enlace a al póster en <a href="https://commons.wikimedia.org/wiki/Special:UploadWizard?uselang=es" target="_blank">Wikimedia Commons</a>
              (*):</label></strong>
          <div id="url-counter-tag" class="tag is-danger"><span id="url-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;250&nbsp;</div><input name="url" type="text" maxlength="250" onkeyup="counterDisplay(this, 'url', true)"
            required="required" class="form-control"><span id="url-help-block" class="form-text text-muted list-forms-text">Recuerda que la obra tiene que tener licencia <a style="color: #007bff !important;"
              href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES" target="_blank">Creative Commons BY-SA 4.0</a>. Es necesario una cuenta en Wikimedia Commons; si no tienes puedes crearla desde <a style="color: #007bff !important;"
              href="https://commons.wikimedia.org/w/index.php?title=Special:CreateAccount&uselang=es&returnto=Special%3AUploadWizard&returntoquery=uselang%3Des" target="_blank">aquí</a>.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="project">Web del proyecto:</label></strong>
          <div id="project-counter-tag" class="tag is-success"><span id="project-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="project" type="url" maxlength="150" aria-describedby="project-help-block"
            onkeyup="counterDisplay(this, 'project', false)" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Página con información sobre el proyecto (si la hay).</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="name">Nombre (*):</label></strong>
          <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
            required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Puedes usar un seudónimo si lo prefieres.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="email">Email (*):</label></strong>
          <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
            required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Lo necesitamos para comunicarnos contigo, pero no será publicado en ningún momento.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="bio">Bio:</label></strong>
          <div id="bio-counter-tag" class="tag is-success"><span id="bio-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;2000&nbsp;</div><textarea name="bio" cols="40" rows="5" maxlength="2000" style="resize:none; overflow-y: scroll;"
            aria-describedby="bio-help-block" onkeyup="counterDisplay(this, 'bio', false)" class="form-control"></textarea><span id="bio-help-block" class="form-text text-muted list-forms-text">Por si quieres añadir alguna información sobre ti:
            intereses personales, proyectos relacionados, experiencias varias...</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="web">Web personal:</label></strong>
          <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
            onkeyup="counterDisplay(this, 'web', false)" class="form-control"><span id="web-help-block" class="form-text text-muted list-forms-text">Por si tienes una web personal que quieras compartir.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="mastodon">Mastodon (u otras redes sociales libres):</label></strong>
          <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
            onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Cualquier perfil en una red social libre es válido, pero recuerda introducir la URL
            completa para conocer también la instancia en la que te encuentras para que podamos encontrarte.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="twitter">Twitter:</label></strong>
          <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;16&nbsp;</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
            onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Indica solo tu username.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="gitlab">GitLab (o cualquier sitio de código colaborativo) o portfolio:</label></strong>
          <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" aria-describedby="gitlab-help-block"
            onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Por si quieres compartir tu portfolio o cualquier otra de tus obras.</span>
        </div>
        <div class="form-group" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="comments">Comentarios:</label></strong>
          <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500&nbsp;</div><textarea name="comments" cols="40" rows="5" maxlength="500"
            style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block"
            class="form-text text-muted list-forms-text">Cualquier otro comentario relevante para la organización.</span>
        </div>
        <div class="call-outer">
          <div class="form-group call-inner" style="padding-bottom: 1em"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
            <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
              class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div>
            <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Acepto seguir el <a class="program-link" href="/conducta" target="_blank">código de conducta</a>
                durante mi participación en las jornadas (*)</label></div>
          </div>
        </div>
        <div style="padding-top: 1em;" class="form-group text-center"><button name="submit" type="submit" class="btn btn-dark">Enviar</button></div>
      </form>
    </div>
</div>
