---
layout: 2022/default
---

<div class="w3-container white-space">
  <h2 class="w3-center title" style="padding-bottom: 1.5em">¡Propuesta recibida!</h2>
  <h3 class="w3-center title">¡Gracias por mandar una propuesta para esta edición de la JASYP!</h3>
  <p class="w3-center w3-large purpose">
    Tu solicitud de participación ha sido registrada con éxito. Deberías recibir en unos minutos un correo de confirmación de <strong>jasyp@interferencias.tech</strong> a la dirección que has indicado.<br><br>
    Si no lo recibes, tampoco se encuentra en tu carpeta de correo no deseado o tienes cualquier duda, por favor, escríbenos a <a href="mailto:jasyp@interferencias.tech">jasyp@interferencias.tech</a> desde la misma dirección con la que has
    registrado la solicitud para comprobarlo.
  </p>
  <h3 class="w3-center title">¡Nos vemos dentro de poco! 📣 ✊</h3>
</div>
