---
layout: 2022/index
permalink: /
---

<!-- Introduction -->

<div class="w3-container" style="padding:128px 16px" id="evento">
  <h3 class="w3-center title">El evento</h3>
  <p class="w3-center w3-large">Volvemos tras la pandemia, con más ganas que nunca para hablar de...</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large title">Derechos digitales y privacidad</p>
      <p>Queremos crear un espacio seguro en el que hablar sobre nuestros derechos en Internet y cómo su defensa afecta a asuntos como nuestra privacidad en la Red.</p>
    </div>

    <div class="w3-third">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large title">Software libre</p>
      <p>Nuestro tema constante todo el año. A parte de colaborar en <a href="https://eslib.re/" target="_blank"><strong>es<span style="color:red">Libre</span></strong></a>, queremos dar espacio para hablar de proyectos de software libre, licencias,
        comunidades y demás que ayuden a proteger nuestra privacidad.</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-book w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large title">Educación</p>
      <p>Durante 2021 nos hemos centrado en promover el movimiento <a href="https://commons.wikimedia.org/wiki/Category:Soberan%C3%ADa_Digital_en_las_Aulas_(Fuera_Google)" target="_blank"><strong>"Soberanía Digital en las Aulas (Fuera
            Google)"</strong></a> para concienciar del uso de tecnología libre en el entorno educativo frente a Google Classroom y otras tecnologias privativas.</p>
    </div>
  </div>
</div>

<!-- Venue -->

<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3 class="title">Hablamos desde Granada, pero conectados.</h3>
      <p>El evento será en <strong>Granada</strong>, pero lo retransmitiremos de forma digital para llegar a comunidades hispanohablantes de todas partes.</p>
      <p>Ambos días estaremos en el <strong>Carmen de la Victoria</strong>, una de las fincas típicas de los barrios históricos de Granada que actualmente funciona como una residencia universitaria localizada en la colina del barrio del Albayzín y
        con unas vistas inmejorables a la Alhambra.</p>
      <p style="padding-top: 10px">
        <a href="https://carmendelavictoria.ugr.es/informacion/presentacion" target="_blank" class="w3-button w3-black">
          <span class="other-link-w"><i class="fa fa-info-circle"></i>
            &nbsp; Info lugar</span>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.openstreetmap.org/way/197139208" target="_blank" class="w3-button w3-black"><span class="other-link-w">
            &nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker"></i>
            &nbsp; Mapa
            &nbsp;&nbsp;&nbsp;</span>
        </a>
      </p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="2022/images/alhambra.jpg" alt="La Alhambra" width="700" height="394"><br>
      <span class="w3-opacity">Foto de César de la Hoz</span>
    </div>

  </div>
</div>

<!-- Partners -->

<div class="w3-container" style="padding:128px 16px" id="colaboradoras">
  <h3 class="w3-center title">Colaboradoras</h3>
  <p class="w3-center w3-large">Que nos ayudan a lanzar el evento</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top: 64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="2022/images/interferencias.png" alt="Interferencias" style="width:100%">
        <div class="w3-container">
          <h3>Interferencias</h3>
          <p class="w3-opacity">Organizadoras</p>
          <p>Lanzamos el evento por primera vez en 2017 y desde entonces seguimos trayendo estos temas a la ciudad de Granada y donde sea.</p>
          <p><a href="mailto:info@interferencias.tech"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contacto</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="2022/images/postnau.jpg" alt="PostApocalipsisNau" style="width:100%">
        <div class="w3-container">
          <h3>Post Apocalipsis Nau</h3>
          <p class="w3-opacity">Radio Vallekas / El Salto Radio</p>
          <p>Programa en la radio social de Vallekas sobre ciberpunk, comportamientos digitales y musiquita con el que se está planteando una retransmisión en directo.</p>
          <p><a href="https://twitter.com/PostNau" target="_blank"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contacto</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="2022/images/librelabgrx.png" alt="LibreLabGRX" style="width:100%">
        <div class="w3-container">
          <h3>LibreLabGRX</h3>
          <p class="w3-opacity">Colaboradoras</p>
          <p>Organización hermana que se dedica a la promoción de tecnologías libres y cultura libre desde la ciudad de Granada y que suele colaborar en estos eventos.</p>
          <p><a href="mailto:info@librelabgrx.cc"><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contacto</button></a></p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Program -->

<div class="w3-container w3-center w3-light-grey" style="padding:128px 16px" id="programa">
  <h3 class="w3-center title">Programa</h3>
  <p class="w3-center w3-large purpose">Tenemos distintos tipos de actividades para realizar durante los dos días que duran las jornadas, así que para enterarte mejor puedes consultar la página del programa. Por otro lado, aunque la asistencia es libre y gratuita, necesitamos que registres tu asistencia para poder controlar el aforo del evento ya que este es limitado.
  <p style="padding-top: 10px">
    <a href="/programa" target="_blank" class="w3-button w3-black">
      <span class="other-link-w"><i class="fa fa-info-circle"></i>
        &nbsp; Programa completo</span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://eventos.librelabgrx.cc/events/a59acf5b-0758-469e-80c6-462be759b0a8" target="_blank" class="w3-button w3-black"><span class="other-link-w">
        &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o"></i>
        &nbsp; Registrarse
        &nbsp;&nbsp;&nbsp;</span>
    </a>
  </p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-section">
      <img class="w3-image w3-round-large" src="/2022/images/carteles/jasyp_2022_general.png" alt="Cartel ciberfeminismo JASYP 2022" width="70%">
    </div>
    <div class="w3-third">
      <ul class="w3-ul" style="padding-top: 3em">
        <li class="w3-padding-16"><b>Charlas</b> cortas (20 min aprox)</li>
        <li class="w3-padding-16"><b>Charlas</b> largas (45 min aprox)</li>
        <li class="w3-padding-16"><b>Talleres</b> para aprender algo nuevo</li>
        <li class="w3-padding-16"><b>Mesas redondas</b> para intercambiar opiniones</li>
        <li class="w3-padding-16"><b>Micro abierto de ciberfeminismo</b></li>
        <li class="w3-padding-16"><b>Directo de "Post Apocalipsis Nau"</b></li>
      </ul>
    </div>
    <div class="w3-third w3-section">
      <img class="w3-image w3-round-large" src="/2022/images/carteles/jasyp_2022_ciberfeminismo.png" alt="Cartel ciberfeminismo JASYP 2022" width="70%">
    </div>
  </div>
</div>

<!-- Code of Conduct -->

<div class="w3-container" style="padding:128px 16px" id="conducta">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3 class="title">¿Te apuntas?</h3>
      <p style="padding-right: 70px">Tanto ponentes, como organización y personas que asistan al evento deben prestar atención a nuestro código de conducta. Para nosotras es fundamental crear un entorno seguro y amigable en el que poder hablar de
        tecnología y comunidades.</p>
      <p style="padding-top: 10px">
        <a href="/conducta" target="_blank" class="w3-button w3-black">
          <span class="other-link-w"><i class="fa fa fa-handshake-o"></i>
            &nbsp; Código de Conducta</span>
        </a>
      </p>
    </div>
    <div class="w3-col m6">
      <img style="float: right; margin-right: 2em" class="w3-image w3-round-large" src="2022/images/cibersegura.jpg" alt="Pegatinas" height="380"><br>
    </div>

  </div>
</div>

<!-- Image gallery -->

<div class="w3-container w3-light-grey" style="padding:128px 16px" id="galeria">
  <h3 class="w3-center title">GALERÍA</h3>
  <p class="w3-center w3-large">Fotos de ediciones anteriores</p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/01.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Paula de la Hoz. Introducción a hardening de Linux. JASYP '19.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/02.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Angel Pablo Hinojosa (Psicobyte). Cuando los antropólogos descubrieron a los hackers. JASYP '18.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/03.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="José Luis Navarro. Bienvenido a la república independiente de mi casa. JASYP '19.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/04.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Equipo Bitup Alicante">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/05.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Cervezas en La Posada">
    </div>
    <div class="w3-half">
      <img src="2022/images/galeria/06.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Andrea Laguillo. Somos información: la importancia de la privacidad en datos genéticos. JASYP '18.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/07.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Jorge Cuadrado (Coke). Espías domésticos: Una charla sobre asistentes de voz virtuales. JASYP '19.">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/08.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="JJ Merelo. Unicode seguro con Raku. JASYP '19.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/09.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Alex García. Juego de Trazas. JASYP '19.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/10.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Lorena Sánchez. Make elections great again: un muro no evitará que hackeen tus elecciones. JASYP '18.">
    </div>
    <div class="w3-col l3 m6">
      <img src="2022/images/galeria/11.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Hack & Beers previo a cualquiera de las JASYP.">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>
</div>


<!-- CALL 4 PAPERS -->

<!--
<div class="w3-container w3-center w3-dark-grey" style="padding:128px 16px" id="c4p">
  <h3 style="font-weight: bold;">CALL FOR COSAS</h3>
  <p class="w3-large">Puedes participar de muchas formas, no sólo con charlas.</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Pósters ilustrativos</li>
        <li class="w3-padding-16"><b>Proyectos</b> que quepan en un póster</li>
        <li class="w3-padding-16"><b>Collages</b> de la temática del evento</li>
        <li class="w3-padding-16"><b>Infografías</b> de un campo que te intere</li>
        <li class="w3-padding-16"><b>Feedback</b> interactivo en el evento (murales y otros)</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">Si no te ves con ganas de hablar, pero tienes algo que contar, esta es tu colaboración ideal.</h2>
          <span class="w3-opacity">¡Anímate!</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="/enviar-posters"><button class="w3-button w3-black w3-padding-large">¡Enviar!</button></a>
        </li>
      </ul>
    </div>
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-green w3-xlarge w3-padding-48">CHARLAS/TALLERES</li>
        <li class="w3-padding-16"><b>Charlas</b> cortas (20 min aprox)</li>
        <li class="w3-padding-16"><b>Charlas</b> largas (40 min aprox)</li>
        <li class="w3-padding-16"><b>Talleres</b> para enseñarnos algo nuevo</li>
        <li class="w3-padding-16"><b>Otra cosa</b>: tú nos cuentas qué tienes en mente</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">¿Quieres contarnos algo? ¿Enseñarnos algo?<br>No lo dudes.</h2>
          <span class="w3-opacity">¡Adelante!</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="/propuestas"><button class="w3-button w3-black w3-padding-large">¡Enviar!</button></a>
        </li>
      </ul>
    </div>
    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Concurso de arte temático</li>
        <li class="w3-padding-16"><b>Fotografía/fotobook</b> con un máximo de 15 páginas</li>
        <li class="w3-padding-16"><b>Ilustración, dibujo o pintura</b> de la temática del evento</li>
        <li class="w3-padding-16"><b>Video</b> de no más de 1 minuto</li>
        <li class="w3-padding-16"><b>Otro</b>: consúltanos</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">El arte es un método indispensable para trasmitir y reivindicar derechos digitales. </h2>
          <span class="w3-opacity">¡Expón tu arte!</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="/concurso-arte"><button class="w3-button w3-black w3-padding-large">¡Enviar!</button></a>
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<!-- Contact -->

<div class="w3-container" style="padding:128px 16px" id="contacto">
  <h3 class="w3-center title">CONTACTO</h3>
  <p class="w3-center w3-large">Si tienes alguna pregunta del evento o de alguna de las colaboradoras, escríbenos.</p>

  <div style="margin-top:48px">
    <p class="w3-center w3-large">
      <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i>
      <strong>Email</strong>: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-telegram fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Telegram</strong>: <a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-matrix-org fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Matrix</strong>: <a href="https://matrix.to/#/{{ site.matrix }}">{{ site.matrix }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-twitter fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Twitter</strong>: <a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
    </p>
    <p class="w3-center w3-large">
      <i class="fa fa-mastodon fa-fw w3-xxlarge w3-margin-right"> </i>
      <strong>Mastodon</strong>: <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_user }}/">@{{ site.mastodon_full }}</a>
    </p>
    <br>

    <!-- Image of location/map -->
    <img src="2022/images/albayzin.jpg" class="w3-image" style="width:100%;margin-top:48px"><br>
    <span class="w3-opacity">Foto de César de la Hoz</span>
  </div>
</div>
