<!-- Header with full-height image -->
<header class="parallax w3-display-container w3-grayscale-min" id="inicio">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">JASYP 2022</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">JASYP 2022</span><br>
    <span class="w3-large">Jornadas de Anonimato, Seguridad y Privacidad. Un evento de INTERFERENCIAS.<br>22-23 de Abril - Carmen de la Victoria (Granada)</span>
    <p><a href="/interferencias" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Sobre Interferencias</a></p>
  </div>
</header>
